body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:86px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:86px;
  width:22px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:88px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#3366FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:420px;
  width:219px;
  height:60px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:100px;
  top:330px;
  width:219px;
  height:60px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:52px;
  top:122px;
  width:318px;
  height:148px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:148px;
}
#u11 {
  position:absolute;
  left:2px;
  top:66px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:56px;
  top:128px;
  width:311px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:64px;
  top:136px;
  width:65px;
  height:65px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:140px;
  top:136px;
  width:113px;
  height:16px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:140px;
  top:189px;
  width:73px;
  height:12px;
  font-size:12px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:12px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:140px;
  top:166px;
  width:40px;
  height:13px;
  color:#0033FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:188px;
  top:166px;
  width:131px;
  height:13px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:56px;
  top:230px;
  width:311px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:294px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:311px;
  height:1px;
}
#u25 {
  position:absolute;
  left:182px;
  top:246px;
  width:60px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
