body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:87px;
  width:101px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:86px;
  width:22px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:565px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:70px;
  top:138px;
  width:60px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:147px;
  top:138px;
  width:60px;
  height:60px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:221px;
  top:138px;
  width:60px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:74px;
  top:207px;
  width:53px;
  height:13px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:158px;
  top:207px;
  width:40px;
  height:13px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:234px;
  top:207px;
  width:40px;
  height:13px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:295px;
  top:138px;
  width:60px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:308px;
  top:207px;
  width:40px;
  height:13px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:70px;
  top:238px;
  width:60px;
  height:60px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:147px;
  top:238px;
  width:60px;
  height:60px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:221px;
  top:238px;
  width:60px;
  height:60px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:74px;
  top:307px;
  width:53px;
  height:13px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:158px;
  top:307px;
  width:40px;
  height:13px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:234px;
  top:307px;
  width:40px;
  height:13px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:295px;
  top:238px;
  width:60px;
  height:60px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:308px;
  top:307px;
  width:40px;
  height:13px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:70px;
  top:338px;
  width:60px;
  height:60px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:147px;
  top:338px;
  width:60px;
  height:60px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:221px;
  top:338px;
  width:60px;
  height:60px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:74px;
  top:407px;
  width:53px;
  height:13px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:158px;
  top:407px;
  width:40px;
  height:13px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:234px;
  top:407px;
  width:40px;
  height:13px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:295px;
  top:338px;
  width:60px;
  height:60px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:308px;
  top:407px;
  width:40px;
  height:13px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
