body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:86px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:86px;
  width:22px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:565px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:60px;
  top:128px;
  width:300px;
  height:162px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:162px;
}
#u8 {
  position:absolute;
  left:2px;
  top:73px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:69px;
  top:140px;
  width:60px;
  height:60px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:143px;
  top:140px;
  width:60px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:217px;
  top:140px;
  width:60px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:291px;
  top:140px;
  width:60px;
  height:60px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:69px;
  top:210px;
  width:60px;
  height:60px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:143px;
  top:210px;
  width:60px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:217px;
  top:210px;
  width:60px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:291px;
  top:210px;
  width:60px;
  height:60px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
