body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:87px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:86px;
  width:22px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:125px;
  width:70px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:181px;
  top:125px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:181px;
  top:160px;
  width:131px;
  height:13px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:55px;
  top:199px;
  width:310px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u13 {
  position:absolute;
  left:90px;
  top:219px;
  width:70px;
  height:70px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u14 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:182px;
  top:219px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:152px;
  top:249px;
  width:40px;
  height:16px;
  color:#0033FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  visibility:hidden;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:184px;
  top:249px;
  width:131px;
  height:13px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:55px;
  top:294px;
  width:310px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u22 {
  position:absolute;
  left:55px;
  top:152px;
  width:100px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:55px;
  top:246px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:90px;
  top:313px;
  width:70px;
  height:70px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:182px;
  top:313px;
  width:97px;
  height:16px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:152px;
  top:343px;
  width:40px;
  height:16px;
  color:#0033FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  visibility:hidden;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:184px;
  top:343px;
  width:131px;
  height:13px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:55px;
  top:388px;
  width:310px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u35 {
  position:absolute;
  left:55px;
  top:340px;
  width:100px;
  height:16px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:160px;
  top:588px;
  width:100px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
