body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:86px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:86px;
  width:22px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:88px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#3366FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:160px;
  top:565px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:61px;
  top:128px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:61px;
  top:200px;
  width:299px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:299px;
  height:1px;
}
#u12 {
  position:absolute;
  left:61px;
  top:221px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:61px;
  top:153px;
  width:300px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:69px;
  top:177px;
  width:281px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:281px;
  height:1px;
}
#u17 {
  position:absolute;
  left:71px;
  top:164px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:335px;
  top:162px;
  width:15px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:69px;
  top:250px;
  width:60px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:146px;
  top:250px;
  width:60px;
  height:60px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:220px;
  top:250px;
  width:60px;
  height:60px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:73px;
  top:319px;
  width:53px;
  height:13px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:157px;
  top:319px;
  width:40px;
  height:13px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:233px;
  top:319px;
  width:40px;
  height:13px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:120px;
  top:365px;
  width:180px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
