body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:86px;
  width:61px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:55px;
  top:84px;
  width:25px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:293px;
  top:84px;
  width:35px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:331px;
  top:84px;
  width:35px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:51px;
  top:141px;
  width:319px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u9 {
  position:absolute;
  left:53px;
  top:126px;
  width:99px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:330px;
  top:124px;
  width:35px;
  height:16px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:69px;
  top:154px;
  width:45px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:139px;
  top:154px;
  width:60px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:226px;
  top:154px;
  width:50px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:300px;
  top:154px;
  width:50px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:51px;
  top:185px;
  width:319px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u17 {
  position:absolute;
  left:55px;
  top:208px;
  width:99px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:330px;
  top:208px;
  width:35px;
  height:16px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:51px;
  top:224px;
  width:319px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u21 {
  position:absolute;
  left:70px;
  top:238px;
  width:45px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:140px;
  top:238px;
  width:60px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:227px;
  top:238px;
  width:50px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:301px;
  top:238px;
  width:50px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:51px;
  top:268px;
  width:319px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u26 {
  position:absolute;
  left:58px;
  top:570px;
  width:138px;
  height:40px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:224px;
  top:570px;
  width:139px;
  height:40px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
