body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:87px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:86px;
  width:22px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:55px;
  top:199px;
  width:310px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u7 {
  position:absolute;
  left:60px;
  top:121px;
  width:300px;
  height:100px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u8 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:66px;
  top:127px;
  width:49px;
  height:12px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:69px;
  top:142px;
  width:282px;
  height:47px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:47px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:278px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:60px;
  top:220px;
  width:300px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:66px;
  top:226px;
  width:49px;
  height:12px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:69px;
  top:241px;
  width:282px;
  height:47px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:47px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:278px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:319px;
  width:300px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:66px;
  top:325px;
  width:49px;
  height:12px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:69px;
  top:340px;
  width:282px;
  height:47px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:47px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:278px;
  word-wrap:break-word;
}
