body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:84px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:100px;
  top:535px;
  width:220px;
  height:45px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:50px;
  top:86px;
  width:22px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:63px;
  top:130px;
  width:57px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:60px;
  top:154px;
  width:300px;
  height:86px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:86px;
}
#u10 {
  position:absolute;
  left:2px;
  top:35px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:68px;
  top:163px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:68px;
  top:176px;
  width:281px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:281px;
  height:1px;
}
#u14 {
  position:absolute;
  left:334px;
  top:161px;
  width:15px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:290px;
  top:163px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:68px;
  top:188px;
  width:52px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:68px;
  top:201px;
  width:281px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:281px;
  height:1px;
}
#u21 {
  position:absolute;
  left:334px;
  top:186px;
  width:15px;
  height:15px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:68px;
  top:213px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:68px;
  top:226px;
  width:281px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:281px;
  height:1px;
}
#u26 {
  position:absolute;
  left:334px;
  top:211px;
  width:15px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:290px;
  top:188px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:290px;
  top:213px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:60px;
  top:254px;
  width:300px;
  height:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:68px;
  top:263px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:68px;
  top:276px;
  width:281px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:281px;
  height:1px;
}
#u37 {
  position:absolute;
  left:334px;
  top:261px;
  width:15px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:60px;
  top:300px;
  width:300px;
  height:36px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:70px;
  top:308px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:70px;
  top:320px;
  width:281px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:281px;
  height:1px;
}
#u44 {
  position:absolute;
  left:336px;
  top:306px;
  width:15px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:60px;
  top:346px;
  width:300px;
  height:36px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:70px;
  top:354px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:70px;
  top:366px;
  width:281px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:281px;
  height:1px;
}
#u51 {
  position:absolute;
  left:336px;
  top:352px;
  width:15px;
  height:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u52 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:202px;
  top:354px;
  width:134px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:60px;
  top:392px;
  width:300px;
  height:36px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:70px;
  top:400px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:70px;
  top:412px;
  width:281px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:281px;
  height:1px;
}
#u60 {
  position:absolute;
  left:336px;
  top:398px;
  width:15px;
  height:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u61 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
